---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage/HeroPreview.astro';
import MinigameImage from '../components/MinigamePreview/MinigamePreview.astro';
import ChallengePreview from '../components/ChallengePreview/ChallengePreview.astro';
import OurTeam from '../components/OurTeam/OurTeam.astro';
const pageTitle = "Página de inicio";

const homeText = {
	title: "¡Comenzá tu aventura ahora!",
	text: "Jugá diferentes minijuegos, enfrentá desafíos y aprendé sobre el medio ambiente y la contaminación. Competí en un ranking contra otros jugadores para ver quién es el mejor.",
	textButton: "Descargalo ahora"
}

const minigamePreviewText = {
	title: "¡Jugá y aprendé!",
	text: "Divertite completando los minijuegos que vas a encontrar a lo largo de tu aventura junto a Champy"
}

const challengePreviewText = {
	title: "¡Enfrentá difíciles desafíos!",
	text: "Para superar cada área y avanzar hacia la siguiente vas a tener que enfrentarte a desafíos que te van a poner a prueba. ¡Demostrá que podés superarlos!"
}

---
<BaseLayout pageTitle={pageTitle}>
	<!-- <div class="parent">
		<div id="section-1" class="child"> -->
			<HeroImage 
				title = {homeText.title},
				text = {homeText.text},
				textButton = {homeText.textButton}
			/>
		<!-- </div> -->
		
	  	<!-- <div id="section-2" class="child">
			<MinigameImage
			title = {minigamePreviewText.title},
			text = {minigamePreviewText.text}
			/>
	  	</div>
		
	  	<div id="section-3" class="child">
			<ChallengePreview
			title = {challengePreviewText.title},
			text = {challengePreviewText.text}
			/>
	  	</div>
		
	  	<div id="section-4" class="child">
			<OurTeam />
		</div>
		
	  	<div id="section-5" class="child">
			<h1>Contacto</h1>
		</div> -->
	<!-- </div> -->
</BaseLayout>
